@import "tailwindcss";

/* space-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/space-mono-v17-latin-700.woff2') format('woff2');
}

@theme {
  --font-sans: 'Space Mono', monospace, system-ui;

  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-600: hsl(180, 25%, 32%);
  --color-grey-550: hsl(180, 18%, 40%);
  --color-grey-500: hsl(186, 14%, 43%);
  --color-grey-400: hsl(184, 14%, 56%);
  --color-grey-300: hsl(184, 19%, 68%);
  --color-grey-200: hsl(185, 41%, 84%);
  --color-grey-50: hsl(189, 47%, 97%);
  --color-green-900: hsl(183, 100%, 15%);
  --color-green-800: hsl(183, 85%, 21%);
  --color-green-750: hsl(183, 79%, 24%);
  --color-green-400: hsl(172, 67%, 45%);
  --color-green-200: hsl(173, 61%, 77%);
  --color-orange-400: hsl(13, 70%, 60%);

  --font-size-preset-1: clamp(2.4rem, 5vw + 1rem, 3rem);
}

@layer base {

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@utility text-preset-1 {
  font-size: var(--font-size-preset-1);
  @apply font-bold leading-[1.479] tracking-[-1px];
}

@utility text-preset-2 {
  @apply text-[2rem] font-bold leading-[1.46875] tracking-[-0.67px]
}

@utility text-preset-3 {
  @apply text-[1.5rem] font-bold leading-normal
}

@utility text-preset-4 {
  @apply text-[1.25rem] font-bold leading-normal
}

@utility text-preset-5 {
  @apply text-[1rem] font-bold leading-normal
}

@utility text-preset-6 {
  @apply text-[0.8125rem] font-bold leading-[1.4615]
}